<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="ui-g">

  <p-panel header="New Project" class="ui-g-12">

    <div class="ui-g">

      <label for="projectId" class="ui-g-12 ui-md-2">Project Id</label>
      <p-inputMask mask="aaa-999" id="projectId" formControlName="projectId" placeholder="ABC-123" class="ui-g-12 ui-md-5"></p-inputMask>
      <div class="ui-g-12 ui-md-5">

        <at-fielderrors [form]="projectForm" field="projectId" nicename="Project ID"> </at-fielderrors>

      </div>

      <label for="description" class="ui-g-12">Description</label>
      <p-editor id="description" formControlName="description"  class="ui-g-12" [style]="{'height':'200px'}"></p-editor>
      <div class="ui-g-12">
        <at-fielderrors [form]="projectForm" field="description" nicename="Description"> </at-fielderrors>
      </div>

      <label for="startDate" class="ui-g-12 ui-md-2">Start Date</label>
      <p-calendar [showIcon]="true" id="startDate" formControlName="startDate" class="ui-g-12 ui-md-5"></p-calendar>
      <div class="ui-g-12 ui-md-5">

        <at-fielderrors [form]="projectForm" field="startDate" nicename="Start Date"> </at-fielderrors>

      </div>

      <label for="rating" class="ui-g-12 ui-md-2">Project Coolness</label>
      <p-rating id="rating" formControlName="rating" class="ui-g-12 ui-md-10" [cancel]="false"></p-rating>

      <label for="devs" class="ui-g-12 ui-md-2">Assigned Devs</label>
      <p-multiSelect id="devs" [options]="allDevs" formControlName="selectedDevs"></p-multiSelect>

      <label for="chips" class="ui-g-12 ui-md-2">Assigned Devs</label>
      <p-chips id="chips" formControlName="selectedDevs"></p-chips>

    </div>

    <button [disabled]="hasFormErrors()" pButton icon="fa-floppy-o" label="Save"></button>

  </p-panel>


</form>
