<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="ui-g">

  <p-panel header="New Project" class="ui-g-12">

    <div class="ui-g">

      <label for="projectId" class="ui-g-12 ui-md-2">Project Id</label>
      <p-inputMask mask="aaa-999" id="projectId" formControlName="projectId" placeholder="ABC-123" class="ui-g-12 ui-md-5"></p-inputMask>

      <!--
      <input pInputText id="projectId" formControlName="projectId" placeholder="Enter Your Project Id" class="ui-g-12 ui-md-5"/>
      -->
      <div class="ui-g-12 ui-md-5">

        <at-fielderrors [form]="projectForm" field="projectId" nicename="Project ID"> </at-fielderrors>

      </div>

      <label for="description" class="ui-g-12">Description</label>
      <p-editor id="description" formControlName="description"  class="ui-g-12" [style]="{'height':'200px'}"></p-editor>
      <div class="ui-g-12">
        <at-fielderrors [form]="projectForm" field="description" nicename="Description"> </at-fielderrors>
      </div>

      <label for="startDate" class="ui-g-12 ui-md-2">Start Date</label>
      <p-calendar [showIcon]="true" id="startDate" [minDate]="minProjectDate" formControlName="startDate" dateFormat="dd/mm/yy" class="ui-g-12 ui-md-5"></p-calendar>
      <div class="ui-g-12 ui-md-5">

        <at-fielderrors [form]="projectForm" field="startDate" nicename="Start Date"> </at-fielderrors>

      </div>

      <label for="devs" class="ui-g-12 ui-md-2">Assigned Devs</label>
      <p-listbox id="devs" [options]="allDevs" formControlName="selectedDevs"
                 [multiple]="true" [filter]="true"
                 class="ui-g-12 ui-md-10">
        <template let-dev pTemplate="item">

            <img src="http://i.pravatar.cc/100?u={{dev.label}}" class="avatar" />
            <span class="devName">{{dev.value}}</span>


        </template>
      </p-listbox>
      <!--
      <p-multiSelect id="devs" [options]="allDevs" formControlName="selectedDevs"></p-multiSelect>
      -->
      <!--
      <p-chips id="chips" class="ui-g-12" formControlName="selectedDevs" [disabled]="true"></p-chips>
      -->


      <p-fieldset legend="Project Type" [toggleable]="true" [collapsed]="false" class="ui-g-12">
        <p-radioButton name="projGroup" label="Front End" value="F" formControlName="projectType"></p-radioButton>
        <p-radioButton name="projGroup" label="Backend End" value="B" formControlName="projectType"></p-radioButton>
        <p-radioButton name="projGroup" label="Operations" value="O" formControlName="projectType"></p-radioButton>
      </p-fieldset>

      <label for="rating" class="ui-g-12 ui-md-2">Project Coolness</label>
      <p-rating id="rating" formControlName="rating" class="ui-g-12 ui-md-10" [cancel]="false"></p-rating>

      <pre class="ui-g-12 ui-md-2">{{ projectForm.getRawValue() | json }}</pre>
      <p-slider id="slider" formControlName="rating" [min]="0" [max]="5" class="ui-g-12"></p-slider>

      <p-spinner formControlName="rating" [min]="0" [max]="5" class="ui-g-12"></p-spinner>


    </div>

    <button [disabled]="hasFormErrors()" pButton icon="fa-floppy-o" label="Save"></button>

  </p-panel>


</form>
