.timesheet {
  background-color: white;
  font-family: "Roboto";
}

.timesheet-grid /deep/ .ui-datatable {
  margin: 1em;
}

.header {
  padding: 1em;
  color: white;
  background-color: #0275D8;
  margin-bottom: 1em;
}

h2 {
  font-weight: bolder;
  font-size: xx-large;
  display: inline;
}

h3 {
  font-weight: lighter;
  font-size: xx-large;
  display: inline;
}

.tabs /deep/ li {
  width: 19%;
}

.goToToday {
  margin: 1em;
}
