<div class="timesheet header ui-g-12">
  <h2>
    {{ day }}
  </h2>
  <h3>
    {{ dateAndMonth }}
  </h3>
</div>

<p-tabView class="u-g-12 tabs" (onChange)="onChangeTabs($event)">
  <p-tabPanel *ngFor="let tab of daysOfWeek" header="{{tab}}">

    <p-dataTable [value]="getTimesForDay(tab)" class="timesheet-grid">
      <p-column field="project" header="Project"></p-column>
      <p-column field="category" header="Category"></p-column>
      <p-column field="startTime" header="Start Time"></p-column>
      <p-column field="endTime" header="End Time"></p-column>
    </p-dataTable>


  </p-tabPanel>
</p-tabView>

<button pButton label="Add Time Entry" (click)="displayEditDialog = true"></button>


<p-dialog header="Create Time" [modal]="true" [(visible)]="displayEditDialog" [ngSwitch]="dialogPageIndex" width="700"
          height="550">

  <div class="dialogBody">
    <p-steps [model]="dialogPages" [(activeIndex)]="dialogPageIndex" [readonly]="false">

    </p-steps>

    <div *ngSwitchCase="PageNames.TimePage">

      <p-schedule [events]="events" [header]="headerConfig" styleClass="calendar" defaultView="agendaWeek"
                  [editable]="true" [nowIndicator]="true"
                  [allDaySlot]="false">

      </p-schedule>

    </div>
    <div *ngSwitchCase="PageNames.ProjectPage">

      <p-tree [value]="projectsTree" layout="horizontal" selectionMode="single"
              [(selection)]="selectedProject"></p-tree>

    </div>
    <div *ngSwitchCase="PageNames.PlacePage">

      <p-gmap [options]="mapOptions" [overlays]="mapOverlays" styleClass="gmap"
              (onOverlayClick)="onMarkerClick($event)"></p-gmap>

    </div>
    <div *ngSwitchCase="PageNames.PeoplePage">

      <p-dataGrid [value]="people" [paginator]="true" [rows]="4">
        <ng-template let-person pTemplate="item">
          <p-panel header="{{person.firstName}} {{person.lastName}}" class="ui-g-12 ui-md-3">
            <img [src]="person.avatar" [pTooltip]="person.email" tooltipPosition="bottom"/>
          </p-panel>
        </ng-template>
      </p-dataGrid>

    </div>
  </div>


  <p-footer>
    <button pButton label="Save" icon="fa-check" (click)="saveNewEntry()"></button>
    <button pButton label="Cancel" icon="fa-times" (click)="cancelDialog()" class="ui-button-secondary"></button>
  </p-footer>

</p-dialog>


<p-confirmDialog icon="fa fa-question-circle" width="425" [visible]="false" #confirmDialog>

  <p-footer>
    <button type="button" pButton icon="fa-close" label="No, go back" (click)="confirmDialog.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Yes, lose changes"
            (click)="confirmDialog.accept() && confirmDialog.hide()"></button>
  </p-footer>


</p-confirmDialog>

<p-growl [value]="messages"></p-growl>
