<div class="timesheet u-g">

  <div class="header u-g-12">

    <h2>
      {{ day }}
    </h2>
    <h3>
      {{ dateAndMonth}}
    </h3>

  </div>


  <p-tabView class="u-g-12 tabs" (onChange)="changeTabs($event)" #tabView>
    <p-tabPanel *ngFor="let tab of daysForTabs; let i = index;" header="{{tab}}" [selected]="isSelected(tab)" >
       <p-dataTable [value]="getTimesForDay(i)" class="timesheet-grid">
         <p-column field="project" header="Project"></p-column>
         <p-column field="category" header="Category"></p-column>
         <p-column field="startTime" header="Start Time"></p-column>
         <p-column field="endTime" header="End Time"></p-column>
       </p-dataTable>
    </p-tabPanel>

  </p-tabView>

  <button pButton label="Go To Today" (click)="goToToday()" class="goToToday"></button>
  <button pButton label="Add Time Entry" (click)="addNewEntry()" ></button>

</div>

<p-dialog header="Create Time" [(visible)]="displayEditDialog" [modal]="true" width="700" height="550"
          [ngSwitch]="dialogPageIndex">
  <p-steps [model]="dialogPages" [(activeIndex)]="dialogPageIndex" [readonly]="false"></p-steps>

  <div *ngSwitchCase="PageNames.TimePage">
    Our time page goes here.
  </div>
  <div *ngSwitchCase="PageNames.ProjectPage">
    Our project page goes here.
  </div>
  <div *ngSwitchCase="PageNames.PlacePage">
    <p-gmap [options]="mapOptions" [overlays]="mapOverlays" (onOverlayClick)="onMarkerClick($event)" styleClass="gmap"></p-gmap>
  </div>
  <div *ngSwitchCase="PageNames.PeoplePage">
    <p-dataGrid [value]="people" [paginator]="true" [rows]="4">
      <ng-template let-person pTemplate="item">
        <p-panel header="{{person.firstName}} {{person.lastName}}" class="ui-g-12 ui-md-3">
          <img [src]="person.avatar"/>
        </p-panel>
      </ng-template>
    </p-dataGrid>

  </div>

  <p-footer>
    <button pButton label="Cancel" icon="fa-times" (click)="displayEditDialog = false" class="ui-button-secondary"></button>
    <button pButton label="Save" icon="fa-check" (click)="saveNewEntry()"></button>
  </p-footer>

</p-dialog>
