
<div class="ui left visible vertical inverted thin sidebar icon labeled menu" id="sidenav">
  <a class="item">
    <i class="home icon"></i>
    Dashboard
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    My Timesheets
  </a>
  <a class="item">
    <i class="tasks icon"></i>
    My Projects
  </a>
  <a class="item">
    <i class="users icon"></i>
    My Team
  </a>

  <a class="item">
    <i class="sliders icon"></i>
    Settings
  </a>

</div>

<!--
<div class="ui black big launch right attached fixed button">
  <i class="content icon"></i>
  <span class="text">Menu</span>
</div>
-->

<div class="ui container pusher">

  <router-outlet></router-outlet>

</div>


