.content-body {
  margin-left: 135px;
}


#header {
  background-color: #F0F3F5 !important;
  height: 60px;
  width: 100%;

}

#top-logo {
  height: 60px;
}

#sidenav {
  margin-top: 60px;
}

@media only screen and (max-width: 500px) {

  #sidenav {
    display: none
  }

  .content-body {
    margin-left: 5px;
  }
}
