<div class="ui-g">

  <p-panel header="My Profile Pic" styleClass="profilePic" class="ui-g-12 ui-md-8" pDroppable="pic" (onDrop)="onPicDrop()">

    <img *ngIf="profileImage; else showDropDiv" [src]="profileImage" class="ui-g-12 ui-md-6"/>

    <ng-template #showDropDiv>
      <span id="drop-message" class="ui-g-12 ui-md-6">Drop Your Image Here</span>
    </ng-template>

    <p-fieldset legend="Profile Info" class="ui-g-12 ui-md-6">
      <label for="profileName">Name:</label>
      <input id="profileName" pInputText placeholder="Your Name Here"/>

      <label for="profileInfo">Details:</label>
      <textarea id="profileInfo" pInputTextarea placeholder="Your Profile Info here"></textarea>
    </p-fieldset>


  </p-panel>

  <p-galleria  #galleria [images]="images" panelWidth="300" panelHeight="298" class="ui-g-12 ui-md-4" [showCaption]="true"
              (onDragStart)="onDragStart(galleria)"
              pDraggable="pic" dragHandle=".ui-panel-images" ></p-galleria>


</div>

<p-growl [value]="messages" life="3000"></p-growl>



