<h1>
  {{title}}
</h1>

<p-splitButton label="Tester" icon="fa-check" [model]="items"></p-splitButton>

<button (click)="onToggle()">Toggle Me</button>

<div class="ui four statistics">

  <app-statistic label="Unread Messages" value="253" icon="calendar" colour="#00ACAC"></app-statistic>

  <app-statistic label="Check-ins" value="3216" icon="map marker" colour="#2F8EE5"></app-statistic>

  <app-statistic label="Files Synced" value="2,345" icon="cloud" colour="#6C76AF"></app-statistic>

  <app-statistic label="Login Attempts" value="4" icon="key" colour="#EFA64C"></app-statistic>
</div>

<div class="ui two column grid">

  <div class="column">
    <p-chart type="pie" [data]="hoursByProjectChartData" width="400" [options]="chartOptions" ></p-chart>
  </div>

  <div class="column">
    <p-chart type="pie" [data]="hoursByProjectChartData" width="400" [options]="chartOptions" ></p-chart>
  </div>

</div>
