
<div class="ui-g">


  <app-statistic label="My Hours" value="132" icon="fa-clock-o" colour="#00ACAC"
                 class="ui-g-12 ui-md-6 ui-lg-3"></app-statistic>


  <app-statistic label="Stories" value="35" icon="fa-users" colour="#2F8EE5"
                 class="ui-g-12 ui-md-6 ui-lg-3"></app-statistic>


  <app-statistic label="Remaining" value="23" icon="fa-hourglass-half" colour="#6C76AF"
                 class="ui-g-12 ui-md-6 ui-lg-3"></app-statistic>


  <app-statistic label="Sprints" value="4" icon="fa-area-chart" colour="#EFA64C"
                 class="ui-g-12 ui-md-6 ui-lg-3"></app-statistic>


</div>

<div class="ui-g">

  <p-panel header="Personal Hours By Project" class="ui-g-12 ui-md-6">

    <p-dataTable [value]="hoursByProject">
      <p-column field="name" header="Project"></p-column>
      <p-column field="hoursSpent" header="Hours Spent This Week"></p-column>
    </p-dataTable>

  </p-panel>
  
  <p-panel header="Personal Hours By Project" class="ui-g-12 ui-md-6">
    <p-chart type="pie" [data]="hoursByProjectChartData"></p-chart>
  </p-panel>

</div>




<div class="ui-g">

  <p-panel header="Hours By Team (Mixed)" class="ui-g-12 ui-lg-6">
    <p-chart type="bar" [data]="hoursByTeamChartMixedData" #mixedChart
    (onDataSelect)="onMixedClick($event)" [options]="chartOptions"
    ></p-chart>
  </p-panel>

  <p-panel header="Hours By Team (Bar)" class="ui-g-12 ui-lg-6">
    <p-chart type="line" [data]="hoursByTeamChartData"></p-chart>
  </p-panel>

  <p-panel header="Hours By Project" class="ui-g-12 ui-lg-6">
    <p-chart type="doughnut" [data]="hoursByProjectChartData" [options]="chartOptions"
             (onDataSelect)="onDataSelect($event)"></p-chart>
  </p-panel>

  <p-panel header="Hours By Project" class="ui-g-12 ui-lg-6">
    <p-chart type="pie" [data]="hoursByProjectChartData"></p-chart>
  </p-panel>

</div>
