<div class="alltimesheets ui-g">


  <div class="header ui-g-12">

    <h2>
      All Timesheets
    </h2>
    <h3>
      Click to Edit
    </h3>

  </div>


  <p-contextMenu #tableContextMenu [model]="contextMenu"></p-contextMenu>

  <p-dataTable [value]="allTimesheetData" class="ui-g-12" sortField="startTime" [sortOrder]="1" #dt
               emptyMessage="No results right now" [reorderableColumns]="true" [resizableColumns]="true" columnResizeMode="fit"
               [globalFilter]="tableSearch" exportFilename="users" [editable]="true" (onEditComplete)="onEditComplete($event)"
               [(selection)]="selectedTimes" (onRowSelect)="onRowSelect($event)"
               [lazy]="true" (onLazyLoad)="loadTimes($event)"
               [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20,50,1000]" [rows]="5" [totalRecords]="recordCount"
               [contextMenu]="tableContextMenu">

    <p-column styleClass="selectBoxColumn" selectionMode="multiple"></p-column>
    <p-column field="user" header="User" [editable]="true"></p-column>
    <p-column field="project" header="Project" filter="true" filterMatchMode="equals"  [style]="{'overflow':'visible'}" [editable]="true">
      <template pTemplate="filter" let-col>
        <p-dropdown [options]="allProjects" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
      </template>
      <template let-col let-project="rowData" pTemplate="editor">
        <p-dropdown [(ngModel)]="project[col.field]" [options]="allProjects" [autoWidth]="false" [style]="{'width':'100%'}" required="true"></p-dropdown>
      </template>

    </p-column>
    <p-column field="category" header="Category" [sortable]="true"></p-column>
    <p-column field="startTime" header="Start Time" [sortable]="true" ></p-column>
    <p-column field="endTime" header="End Time"></p-column>

    <p-footer>

      <label for="tableSearch">Search: </label>
      <input id="tableSearch" #tableSearch type="text" placeholder="Search All The Things">

      <div style="float:right">Count: {{ recordCount }}</div>

      <button type="button" pButton icon="fa-table" label="Export" (click)="dt.exportCSV()" style="float:right;"></button>

      <button type="button" pButton icon="fa-database" label="Reset DB" (click)="resetDatabase()" style="float: right"></button>


    </p-footer>
  </p-dataTable>



</div>
