<div class="alltimesheets ui-g">


  <div class="header ui-g-12">

    <h2>
      All Timesheets
    </h2>
    <h3>
      Click to Edit
    </h3>

  </div>



  <p-dataTable [value]="allTimesheetData" class="ui-g-12" sortField="startTime" [sortOrder]="1" #dt
               emptyMessage="No results right now" [reorderableColumns]="true" [resizableColumns]="true" columnResizeMode="fit"
               [globalFilter]="tableSearch" exportFilename="users">

    <p-column field="user" header="User"></p-column>
    <p-column field="project" header="Project" filter="true" filterMatchMode="equals"  [style]="{'overflow':'visible'}" >
      <template pTemplate="filter" let-col>
        <p-dropdown [options]="allProjects" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
      </template>

    </p-column>
    <p-column field="category" header="Category" [sortable]="true"></p-column>
    <p-column field="startTime" header="Start Time" [sortable]="true" ></p-column>
    <p-column field="endTime" header="End Time"></p-column>

    <p-footer>

      <label for="tableSearch">Search: </label>
      <input id="tableSearch" #tableSearch type="text" placeholder="Search All The Things">

      <button type="button" pButton icon="fa-table" label="Export" (click)="dt.exportCSV()" style="float:right;"></button>

    </p-footer>
  </p-dataTable>



</div>
