.alltimesheets {
  background-color: white;
  font-family: "Roboto";
}

.header {
  padding: 1em;
  color: white;
  background-color: #0275D8;
  margin-bottom: 1em;
}

h2 {
  font-weight: bolder;
  font-size: xx-large;
  display: inline;
}

h3 {
  font-weight: lighter;
  font-size: xx-large;
  display: inline;
}

p-dataTable {
  margin: 5px;
}

p-dataTable /deep/ .ui-datatable-footer {
  min-height: 60px;
}
