/* You can add global styles to this file, and also import other style files */
body {
  background-color: #D9E0E7 !important;
  border: 4px solid green;
  margin: 0px;
  font-size: 1em !important;
}

.ui-panel-titlebar {
  background-color: #2F8EE5 !important;
  color: white !important;
}

.ui-menu {
  width: auto !important;
  margin: 0px !important;
  border: none !important;
  background-color: #2D353C !important;
}

.ui-menuitem-text {
  color: white !important;
}

.ui-menuitem-icon {
  color: white !important;
  font-size: large !important;
  margin-right: 1em;
}

.menu-selected {
  background-color: #0275d8;
}

