<p-panel header="Settings">

    <div class="ui-g">
        <label for="notify" class="ui-g-12 ui-md-2">Email To Notify:</label>
        <input id="notify" class="ui-g-12 ui-md-10" placeholder="Enter an Email Address" type="email" />
    </div>

    <div class="ui-g">
        <label for="backup" class="ui-g-12 ui-md-2">Force Backup:</label>
        <button id="backup" class="ui-g-12 ui-md-10">Backup System Now</button>
    </div>

    <div class="ui-g">
        <label for="statistic" class="ui-g-12 ui-md-2">Uptime Stats:</label>
        <div id="statistic" class="ui-g-12 ui-md-10 ui-g-nopad">
            <div class="icon ui-g-5">
                <i class="fa fa-cloud-download"></i>
            </div>
            <div class="data ui-g-7">
                <div class="value">20</div>
                <div class="label">Days Uptime</div>
            </div>
        </div>
    </div>

</p-panel>