p-panel >>> .ui-panel {
  margin-top: 1em;
  width: 98%;
  min-height: 300px;
}

.ui-g {
  padding: 4px;
}

#statistic {

  width: 300px;
  color: white;
  text-align: center;
  font-family: "Roboto";
  background-color: #00ACAC;
}

.icon {
  font-size: 80px;
  margin: 0px;
  padding: 5px;
  background:rgba(0,0,0,.1);
}

.data {
  padding: 1em;
  vertical-align: middle;
}

.value {
  font-size: 40px;
}

.label {
  text-transform: uppercase;
}
